{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

<p>{{ .Description }}</p>

<hr>

{{ .Content }}

{{ range.Data.Pages }}
<article class="post-snippet">
  <h3>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h3>
	<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
		{{ .Date.Format "January 2, 2006" }}
	</time>
  {{ $readingPagesTime := div (float .WordCount) 318 }}
  • <span>{{ .WordCount }} words</span>
  • <span title="HP Series has 1,084,170 words across 3407 pages, 318 words per page">
    {{ printf "%.1f" $readingPagesTime }} Harry Potter pages</span>
  • <span>{{ .ReadingTime }} mins</span>
</article>
{{ end }}

{{ partial "footer.html" . }}