{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>


<h3 class="date">
    {{ .Date.Format "January 2, 2006" }}
    {{ $readingPagesTime := div (float .WordCount) 318 }}
    <span style="font-weight: normal;">
        • {{ .WordCount }} words 
        • <span class="tooltip-wrapper">
            <span class="tooltip-trigger">{{ printf "%.1f" $readingPagesTime }} Harry Potter pages</span>
            <span class="tooltip-content">HP Series has 1,084,170 words across 3407 pages, 318 words per page <a href="https://gist.github.com/lucharo/f3a0cf2cb220ca2a5ecfabcf9452e246" target="_blank" rel="noopener noreferrer">(reference)</a>.</span>
        </span>
        • {{ .ReadingTime }} mins 
    </span>
</h3>
<p class="terms">
{{ range $i := (slice "tags") }}
{{ with ($.Param $i) }}
    {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
{{ end }}
{{ end }}
</p>

<hr>

{{ .Content }}

{{ partial "footer.html" . }}