{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>


<h3 class="date">
    {{ .Date.Format "January 2, 2006" }}
    {{ $readingPagesTime := div (float .WordCount) 318 }}
    <span style="font-weight: normal;">
        • {{ .WordCount }} words 
        • <span title="HP Series has 1,084,170 words across 3407 pages, 318 words per page">
            {{ printf "%.1f" $readingPagesTime }} Harry Potter pages</span>
        • {{ .ReadingTime }} mins 
    </span>
</h3>
<p class="terms">
{{ range $i := (slice "tags") }}
{{ with ($.Param $i) }}
    {{ $i | title }}: {{ range $k := . }}<a href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a> {{ end }}
{{ end }}
{{ end }}
</p>

<hr>

{{ .Content }}

{{ partial "footer.html" . }}